@import "vars";

#main-nav {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    color: $primary-color;
    font-size: 2.4rem;
    &.current {
      color: $primary-color-hover;
    }
  }
}
