.container {
  max-width: 1280px;
  margin: 0 auto;
}

// MARGINS AND PADDING

@for $i from 1 through 5 {
  .m-#{$i} {
    margin: #{$i}rem;
  }
  .my-#{$i} {
    margin: #{$i}rem 0;
  }
  .p-#{$i} {
    padding: #{$i}rem;
  }
  .py-#{$i} {
    padding: #{$i}rem 0;
  }
}
