// BASE COLUMNS VAR

$grid-columns: 12;

// COLUMN CONTENT

@mixin column-content {
  flex-grow: 0;
  width: math.div($i * 100%, $grid-columns);
}

// COLUMNS

@include xs {
  @for $i from 1 through $grid-columns {
    .col-xs-#{$i} {
      @include column-content();
    }
  }
}
@include sm {
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      @include column-content();
    }
  }
}
@include md {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      @include column-content();
    }
  }
}
@include lg {
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      @include column-content();
    }
  }
}
@include xl {
  @for $i from 1 through $grid-columns {
    .col-xl-#{$i} {
      @include column-content();
    }
  }
}
